/*Proglangs.css V2.0: Her har jeg endret alt for å tilpasse kravspesifikasjonene i henhold til oppgaven gitt i LAB2  */
body /*Beskriver bakgrunnsfarge og font for hele siden*/
{
color:darkblue;
background-color:#d0e4fe;
padding-left: 11em;
font-family: Georgia, "Times New Roman",Times,serif;
}
ul.meny /* possisjonerer ul menyen på riktig side og hvordan den skal være*/ 
{
list-style-type: none;
padding: 0;
margin: 0;
color:darkblue;
position:absolute;
top:2em;
left: 1em;
width: 9em;
}
 ul.meny li /*Gir menylisten en styling - Menyvalg*/
 {
background: white;
margin: 0.5em 0;
padding: 0.3em;
border-right: 1em solid black
}
address /*Laget et skille mellom siden og adressebaren*/
{
margin-top: 1em; 
padding-top: 1em;
border-top: thin dotted 
}
h1 /*spesifiserer stylingen til denne spesifike headingen*/
{
font-size:40px;
}
h3 /*spesifiserer stylingen til denne spesifike headingen*/
{
position:relative;
top:-25px;
font-size:20px;
}